@font-face {
	font-family: norse-font;
	src: url(../assets/Norse-Bold.otf);
}

body {
	font-family: Helvetica, sans-serif, system-ui;
	font-weight: 200;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	background-color: rgb(240,240,240);
}
.italics {
	font-style: italic;
}
a {
	color: inherit;
	text-decoration: inherit;
}
button {
	background-color: rgb(188, 197, 206);
	border-radius: 5px;
	border: 0;
}
input {
	height: 20px;
	width: 200px;
	border-radius: 5px;
	border: 1px solid black;
}

.img {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 100%;
	background: url(../assets/mehdi-messro.jpg) no-repeat center;
	background-size: cover;
}
.logo-container {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	padding: 15px;
}	
.valhalla {
	color: white;
	font-family: norse-font;
	font-size: xx-large;
	padding: 10px;
	align-self: center;
}
.img-description {
	margin-top: auto;
	margin-bottom: 20px;
	font-size: 100%;
	color: white;
	font-weight: 100;
}

.info {
	width: 60%;
	height: 100%;
}
.info-header,
.info-form,
.info-submit {
	height: 33%;
	width: 100%;
	padding-left: 25px;
}
.info-header {
	display: flex;
	flex-direction: column;
	justify-content: end;
	font-size: larger;
}
.info-header h1 {
	padding-bottom: 50px;
	font-weight: 600;
}

.info-form {
	background-color: white;
	padding-top: 20px;
}
.info-form form {
	height: inherit;
}
.flex-form h1,
.name-input,
.contact-info,
.password-input {
	height: 100%;
	display: flex;
	align-items: center;
}
.name-input,
.contact-info,
.password-input {
	font-size: small;
	font-weight: 500;
}
.second-column {
	padding-left: 50px;
}


input:focus {
	border: 1px solid blue;
}
input:invalid {
	border: 1px solid red;
}