@font-face {
	font-family: norse-font;
	src: url(../assets/Norse-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

body {
	font-family: 'Josefin Slab', serif, system-ui;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	background-color: rgb(240,240,240);
}
.italics {
	font-style: italic;
}
a {
	color: inherit;
	text-decoration: inherit;
}
button {
	background-color: rgb(188, 197, 206);
	border-radius: 5px;
}
input {
	border-radius: 5px;
}

.img {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 40%;
	height: 100%;
	background: url(../assets/mehdi-messro.jpg) no-repeat center;
	background-size: cover;
	border-radius: 2px;
}
.logo-container {
	/* display: flex; */
	/* justify-content: start; */
}
.logo {
	width: 20%;
	height: 20%;
	padding: 15px;
}
.valhalla {
	color: white;
	font-family: norse-font;
}
.img-description {
	margin-top: auto;
	margin-bottom: 20px;
	font-size: 100%;
	color: white;
	font-weight: 500;
}

.info {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.info-header,
.info-form,
.info-submit {
	height: 33%;
	width: 100%;
	padding-left: 20px;
}

.info-header {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.info-form {
	background-color: white;
}
.flex-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
}

.flex-form h1,
.name-input,
.contact-info,
.password-input {
	display: flex;
	height: 50px;
}
input:focus {
	border: 1px solid blue;
}
input:invalid {
	border: 1px solid red;
}